<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>GameOfLife</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #fps {
        white-space: pre;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <button id="play-pause"></button>
    <div id="fps"></div>
    <canvas id="game-of-life-canvas"></canvas>
  </body>
</html>
